# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
.env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/project files
.vscode/
.idea/

# Ignore temporary or backup files
*.log
*.tmp
*.bak

# Ignore all data files for large datasets
project4-sales-forecasting/data/
project3-customer-review-sentiment/data/
.ipynb_checkpoints/
__pycache__/
.env
*.zip
*.csv